
<ion-header>

  <ion-navbar>
    <ion-title>Add Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="forGroup"(ngSubmit)="saveNote"(formGroup.value) >
 
    <ion-item>
        <ion-label> Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY"  formControlname="date"></ion-datetime>
    </ion-item>
    <ion-item>
    <ion-label>Title</ion-label>
    <ion-input type="text" name="title" formControlname="title" required></ion-input>
     <div class="alert" *ngIf="!formGroupControl.controls['title'].valid"
     && "fromGroup.controls['title'].touched">{{ titleAlert }}
     </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input type="text" name="content" formControlname="content" required></ion-input>
       <div class="alert" *ngIf="!formGroupControl.controls['content'].valid"
       && "fromGroup.controls['content'].touched">{{ titleAlert }}
    </ion-item>
<button ion-button type="submit" [disabled]="!formGroup.valid">Save Note</button>
</form>
</ion-content>
